username: admin
password: admin
port: 57400
timeout: 10s
skip-verify: true
encoding: json_ietf

targets:
  leaf1:57400:
  leaf2:57400:

subscriptions:
  srl_if:
    paths:
      - /interface[name=ethernet-1/1]/statistics
      - /interface[name=ethernet-1/1]/oper-state
      - /interface[name=ethernet-1/49]/statistics
      - /interface[name=ethernet-1/49]/oper-state
      - /interface[name=ethernet-1/50]/statistics
      - /interface[name=ethernet-1/50]/oper-state
    mode: stream
    stream-mode: sample
    sample-interval: 1s

outputs:
  prom:
    type: prometheus
    listen: :9273
    path: /metrics
    metric-prefix: gnmic
    append-subscription-name: true
    export-timestamps: true
    debug: false
    event-processors:
      - convert-op-state
      - trim-prefixes
  # uncomment stdout output to see processors in play
  # stdout:
  #   type: file
  #   file-type: stdout
  #   format: event
  #   event-processors:
  #     - convert-op-state
  #     - trim-prefixes

processors:
  # trim prefixes of the collected notifications to shorten the metric names
  trim-prefixes:
    event-strings:
      value-names:
        - ".*"
      transforms:
        - path-base:
            apply-on: "name"
  # converting string-based oper-state values to string-typed integers
  # so that once automatically converted to floats they can be stored in prometheus
  convert-op-state:
    event-strings:
      value-names:
        - ".*"
      transforms:
        - replace:
            apply-on: "value"
            old: "down"
            new: "0"
        - replace:
            apply-on: "value"
            old: "up"
            new: "1"
